* {
    box-sizing: border-box;
}

img {
    width: 80%;
    /* height: auto; */
}

.grid {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "nav nav"
        "introduction image"
        "footer footer";
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.nav {
    grid-area: nav;
    height: 2em;
    
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.nav__item {
    display: inline;
}

.introduction {
    grid-area: introduction;
}

.introduction__title {
    font-size: 1.5rem;
}

.introduction__text {
    padding-top: 1rem;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: image;
}

.footer {
    grid-area: footer;
    height: 2em;
}

