* {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

/* Colour template planned
#141613 base 'black' or darker #0A0B09
#EBEBEB base 'white'
Consider a brown or gold highlight?
Perhaps #977635 as a gold or darkier #5B4720
#1A2023 grey highlight or darker #111517

*/

img {
    width: 80%;
    /* height: auto; */
}

#content {
    background-color: #0A0B09;
    height: 100vh;
}

.grid {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
        "footer footer";
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #e0e0e0;
    font-family: "Sansita Swashed", sans-serif;
    font-weight: 400;
}

.nav {
    grid-area: nav; 
    border: 1px solid white;
}

.main {
    grid-area: main;
    display: flex;
    border: 3px solid #5B4720;
}

.introduction {
    grid-area: introduction;
}

.introduction__title {
    font-size: 1.5rem;
    color: #e0e0e0;
    font-family: "Nunito Sans", sans-serif;
    padding: 1rem 0 1rem 1rem;
}

.introduction__text {

    color: #e0e0e0;
    font-family: "Nunito Sans", sans-serif;
    padding: 0 0 1rem 1rem;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: image;
}

.footer {
    grid-area: footer;
    height: 2em;
    color: #e0e0e0;
}

.nav__btn {
    /* border: 3px solid #5B4720; */
    background-color: #0A0B09;
    color: #e0e0e0;
    /* Consider making the selected state solid gold background with white text, and have this blend to the gold outline of the tab box. */
}

.contact {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    width: 80%;
}

.contact__hours {
    grid-column: 1 / 3;
}