* {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

/* Colour template planned
#141613 base 'black' or darker #0A0B09
#EBEBEB base 'white'
Consider a brown or gold highlight?
Perhaps #977635 as a gold or darkier #5B4720
#1A2023 grey highlight or darker #111517

*/

img {
    width: 80%;
    /* height: auto; */
}

#content {
    background-color: #0A0B09;
    height: 100vh;
}

/* HOME TAB + BACKGROUND */

.grid {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
        "footer footer";
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #e0e0e0;
    font-family: "Sansita Swashed", sans-serif;
    font-weight: 400;
}

.nav {
    grid-area: nav; 
}

.main {
    grid-area: main;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* border: 3px solid #5B4720; */
}

.main--home {
    display: flex;
    flex-direction: row;
}

.introduction {
    grid-area: introduction;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./pizza.jpg);
    width: 100%;
    height: 600px;
    margin-top: 1rem;
}

.introduction__title {
    font-size: 4rem;
    color: #e0e0e0;
    font-family: "Sansita Swashed", sans-serif;
    padding: 1rem 0 2rem 0;
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    text-align: center;
}

.introduction__text {
    color: #e0e0e0;
    font-family: "Nunito Sans", sans-serif;
    padding: 0 0 1rem 1rem;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: image;
}

.footer {
    grid-area: footer;
    height: 2em;
    color: #e0e0e0;
    position: fixed;
    bottom: 0;

}

.nav__btn {
    border: none;
    outline: none;
    background-color: #0A0B09;
    color: #e0e0e0;
    font-family: "Sansita Swashed", sans-serif;
    font-size: 2rem;
    padding: 0.25rem 0.5rem 0.5rem 0.5rem;
}

.nav__btn:hover {
    background-color: #5B4720;
}

.nav__btn:focus {
    background-color: #5B4720;
}

.nav__btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

/* CONTACT TAB */

.contact {
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.contact__details {

}

.contact__hours {
    display: flex;
    flex-direction: column;
}

.contact__weekdays {
    padding: 1rem, 0;
    color: #e0e0e0;
    font-family: "Nunito Sans", sans-serif;
}

.contact__weekends {
    padding: 1rem, 0;
    color: #e0e0e0;
    font-family: "Nunito Sans", sans-serif;
}

.contact__title-hours {
    color: #e0e0e0;
    font-size: 1.7rem;
    font-family: "Nunito Sans", sans-serif;
}

.contact__title-details {
    font-size: 1.7rem;
    color: #e0e0e0;
    font-family: "Nunito Sans", sans-serif;
}

.contact__list-item {
    color: #e0e0e0;
    font-family: "Nunito Sans", sans-serif;
}

/* MENU TAB */

.menu {
    width: 80%;
    /* display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; */
    color: white;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
    height: 100%;
}

.menu__title {
    font-family: "Sansita Swashed", sans-serif;
    font-size: 2rem;
    padding-bottom: 1rem;
    margin: 1rem 0;
}

.menu__name {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.3rem;
    padding-bottom: 0.4rem;
}

.menu__description {
    color: white;
    padding-bottom: 0.4rem;
}

.menu__price {
    margin-bottom: 2rem;
}